<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:"y"}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" [alt]="heroe.nombre" class="w-100">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger w-100">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3 style="display:inline; margin-right: 20px;">{{heroe.nombre}}</h3>

        <img src="assets/images/DC_Comics_logo.png" alt="" *ngIf="heroe.casa == 'DC'" style="width: 100px; height: auto; display: inline;">
        <img src="assets/images/Marvel_Logo.png" alt="" *ngIf="heroe.casa == 'Marvel'" style="width: 100px; height: auto;">
        <hr>
        <p>
            {{heroe.bio}}
        </p>

    </div>
</div>