<div class="animate__animated animate__fadeIn animate__faster">
    <h2 class="animate__animated animate__fadeIn animate__faster">{{(regionActiva.length > 0) ? (regionActiva | titlecase) : 'Buscar por Region'}}</h2>
    <hr>


    <div class="row mb-2">
        <div class="col">
            <button [class]="getClaseCss(region)" class="me-2 mt-2" *ngFor="let region of regiones" (click)="activarRegion(region); activarRegion(region)">
            {{ region | titlecase }}
        </button>
        </div>
    </div>
</div>
<!-- [ngClass]="{ 'btn-primary': regionActiva === region, 'btn-outline-primary': regionActiva !== region}" -->

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>